.btn {
    &.border-btn {
        border: 2rem solid #fff;
        height: 40rem; // 40px
        margin-left: 20rem; // 20px
        padding: 0 18rem; // 0 18px
        font-size: 18rem; // 18px
        line-height: 18rem; // 18px
        text-transform: uppercase;
        text-decoration: none;
        opacity: 0.8;
        transition: opacity 150ms ease-in-out;
        color: #fff;
        font-family: 'Blinker';
        font-weight: 500;
        background: rgba(0, 0, 0, 0.8);
        align-items: center;
        display: flex;

        i {
            font-size: 21rem; // 21px
            position: relative;
            top: 4rem; // 4px
        }

        &:hover {
            opacity: 1;
        }

        &:first-child {
            margin-left: 0;
        }

        &.primary {
            border-color: #e14d43;
        }
    }
}
