form {
    text-align: left;

    label {
        font-size: 18rem; // 18px
        opacity: 0.65;
        text-transform: uppercase;
    }

    .form-actions {
        display: flex;
        align-items: center;
    }
}

.field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40rem; // 40px
    padding: 0 10rem; // 0 10px
    margin-top: 8rem; // 8px
    margin-bottom: 20rem; // 20px
    background: rgba(255, 255, 255, 0.1);

    input {
        flex: 1;
        width: 100%;
        position: relative;
        border: 0;
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
        color: rgba(255, 255, 255, 0.6);
        font-family: 'Blinker';
        font-size: 16rem; // 16px
    }
}

.slider-input {
    position: relative;

    .rc-slider {
        width: 100%;
    }

    .voip-volume {
        opacity: 0.4;
        position: absolute;
        left: 0;
        height: 6rem; // 6px
        background: #e14d43;
        border-radius: 6rem; // 6px
        transition: width 100ms ease-in-out;
        width: 0;
        z-index: -1;

        &.active {
            opacity: 0.8;
            background: #19a719;
        }
    }
}

.rc-slider {
    height: 18rem; // 18px
    padding: 6rem 0; // 6px 0
    border-radius: 6rem; // 6px
}

.rc-slider-track {
    background-color: rgba(255, 255, 255, 0.7);
    height: 6rem; // 6px
    border-radius: 6rem; // 6px
}

.rc-slider-rail {
    background-color: rgba(255, 255, 255, 0.2);
    height: 6rem; // 6px
    border-radius: 6rem; // 6px
}

.rc-slider-handle {
    border-color: #fff;
    width: 18rem; // 18px
    height: 18rem; // 18px
    margin-top: -5rem; // -5px
    z-index: 3;

    &:focus {
        border-color: #fff;
        box-shadow: none;
    }

    &:hover,
    &:active {
        border-color: #e14d43;
        box-shadow: none;
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    height: 50rem;
    min-width: 160rem;
    max-width: 360rem;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2rem solid rgba(255, 255, 255, 0.25);
    color: #fff;
    font-family: 'Blinker';
    --inputFontSize: 18rem;

    &.compact {
        height: 40rem;
        --inputFontSize: 16rem;
    }

    &.full-width {
        max-width: 100%;
        width: 100%;
    }

    &-padding {
        margin: 0 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &-placeholder {
        position: absolute;
        color: rgba(255, 255, 255, 0.3);
        font-weight: 400;
        font-family: 'Blinker';
        font-size: var(--inputFontSize);
        line-height: var(--inputFontSize);
    }

    &-value {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        color: #fff;
        font-weight: 400;
        font-family: 'Blinker';
        font-size: var(--inputFontSize);
        line-height: var(--inputFontSize);

        &.placeholder {
            color: rgba(255, 255, 255, 0.3);
        }
    }

    input {
        flex: 1;
        width: 100%;
        position: relative;
        background: transparent;
        border: 0;
        padding: 0;
        color: #fff;
        font-family: 'Blinker';
        font-size: var(--inputFontSize);
        line-height: var(--inputFontSize);
    }

    svg {
        width: 26rem;
        height: 26rem;
        color: rgba(255, 255, 255, 0.8);
    }

    &-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border: 2rem solid rgba(255, 255, 255, 0.6);
        background: #333;
        z-index: 1000;
        max-height: 400rem;
        overflow-y: auto;
        overflow-x: hidden;

        &-item {
            display: flex;
            align-items: center;
            padding: 0 10rem;
            height: 50rem;
            background: transparent;
            font-weight: 400;
            font-family: 'Blinker';
            font-size: var(--inputFontSize);
            line-height: var(--inputFontSize);

            svg {
                width: 20rem;
                height: 20rem;
                color: rgba(255, 255, 255, 0.6);
            }

            &:hover {
                background: #444;
            }

            &.selected {
                background: #555;
            }
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 18rem;
    font-weight: 400;
}
