#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    position: absolute;
    width: 100%;

    .prerel-warning {
        width: 32.40740740740741vh;
        font-size: 1.851851851851852vh;
        text-align: center;
        margin-bottom: 20px;

        strong {
            color: #e14d43;
        }
    }

    .caps-lock-notice {
        margin-top: -10rem; // 10px
        margin-bottom: 15rem;
    }

    form {
        // margin-top: 25vh; // 270px;
        display: flex;
        flex-direction: column;
        width: 32.40740740740741vh; // 350px
    }

    img {
        width: 30.55555555555556vh; // 330px
        height: 18vh;
        display: block;
        margin-bottom: 3.703703703703704vh; // 40px;
        opacity: 0.15;
    }

    .login-actions {
        display: flex;
        justify-content: space-between;
        margin: 0 0 5rem;

        label,
        a {
            text-decoration: none;
            text-transform: none;
            opacity: 1;
            font-weight: 300;
            font-size: 1.666666666666667vh; // 18px
        }

        a {
            transition: opacity 150ms ease-in-out;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }

        .left-actions {
            display: flex;
            flex-direction: row;
            line-height: 1.851851851851852vh; // 20px

            input[type='checkbox'] {
                margin: 0 0 0 0.7407407407407407vh; // 0 0 0 8 px
            }
        }

        .right-actions {
            line-height: 1.851851851851852vh; // 20px
        }
    }

    .btn {
        margin: 10rem 0; // 10px 0
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 20rem;
        height: 40rem;
        line-height: 40rem;
    }
}
