.server-browser {
    align-self: center;

    .left-content {
        margin-top: 24rem; // 24px
        width: 70%;
        position: relative;
        padding-right: 20rem; // 20px
        font-size: 18rem;
    }

    .right-content {
        margin-top: 24rem; // 24px
        width: 29.99%;
        padding-left: 20rem; // 20px
    }

    .column {
        // overflow: hidden;

        &.column-1 {
            display: flex;
            flex-direction: column;
            width: 49.99%;
        }

        &.column-2 {
            width: 12.99%;
            text-align: center;
            margin: 0 0.99%;
        }

        &.column-3 {
            width: 12.99%;
            text-align: center;
            margin: 0 0.99%;
        }

        &.column-4 {
            width: 12.99%;
            text-align: center;
        }

        &.column-5 {
            width: 6.99%;
            text-align: center;
        }
    }
}

.server-list {
    .list-header {
        display: flex;
        font-size: 18rem; // 18px
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 30rem; // 30px
        border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
        padding-right: 20rem; // 20px
        user-select: none;

        span {
            opacity: 0.6;
            transition: opacity 150ms ease-in-out;
        }

        svg {
            opacity: 0.6;
            transition: opacity 150ms ease-in-out;

            &.sort-indicator {
                color: #fff;
                opacity: 0.4;
            }
        }

        .header-action {
            margin-right: 28rem; // 28px
            display: flex;
            position: relative;
            align-items: center;

            &:hover {
                span,
                svg {
                    opacity: 0.8;
                }
            }

            &.active {
                span {
                    opacity: 1;
                }

                .header-action-icon {
                    opacity: 1;
                    fill: #e14d43;
                }
            }

            &.hasFilter {
                &::after {
                    content: '';
                    position: absolute;
                    right: -5rem;
                    top: 2rem;
                    width: 12rem;
                    height: 12rem;
                    background: #e14d43;
                    border-radius: 12rem;
                    pointer-events: none;
                }
            }

            a.fetching {
                .header-action-icon {
                    fill: #e14d43;
                    opacity: 1;
                    animation: spin-reverse 1s infinite linear;
                }
            }

            a {
                margin-left: 5px;
                display: flex;
                align-items: center;
            }
        }

        .sort-action {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                span {
                    opacity: 1;
                }
            }
        }

        .column-1 {
            flex-direction: row !important;
        }
        .column {
            display: flex;
        }
    }

    .main-list-body {
        width: 100% !important;
        height: 75vh !important;
        overflow-y: scroll;
        position: relative;

        & > div {
            overflow-x: hidden !important;
        }

        span.notice {
            user-select: none;
        }
    }

    .notice {
        padding: 10rem 0; // 10px 0
        font-size: 20rem; // 20px
        font-weight: 300;
        opacity: 0.75;
        user-select: none;
    }
}

.server-entry {
    padding: 0 20rem; // 0 20px
    height: 82rem; // 82px
    position: relative;
    margin-top: 10rem; // 10px
    background: #000;
    transition: height 150ms ease-in-out;
    user-select: none;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    &:hover:before {
        opacity: 1;
    }

    &:last-child {
        margin-bottom: 40rem; // 40px
    }

    &:after {
        content: '';
        height: 2rem; // 2px
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.2);
    }

    .top-content {
        height: 80rem; // 80px
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: relative;
        text-shadow: 0 0 4rem rgba(0, 0, 0, 1); // 4px

        h1 {
            font-weight: 500;
            font-size: 20rem; // 20px
            white-space: nowrap;
            // overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;
        }

        h2 {
            font-weight: 300;
            font-size: 18rem; // 18px
            color: rgba(255, 255, 255, 0.7);
            text-shadow: 0 0 4rem rgba(0, 0, 0, 0.8); // 4px
            white-space: nowrap;
            // overflow: hidden;
            text-overflow: ellipsis;
        }

        h3 {
            display: flex;
            align-items: center;
            font-weight: 300;
            font-size: 19rem; // 19px
            white-space: nowrap;
            // overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 5rem !important;

            &.tags {
                margin: 0 2rem;
                font-size: 18rem;

                svg {
                    fill: #61d2ff;
                }

                strong {
                    color: #61d2ff;
                    font-weight: 300;
                }
            }

            svg {
                margin-right: 5rem;
            }
        }

        h4 {
            display: flex;
            font-weight: 300;
            font-size: 16rem; // 16px
            color: rgba(255, 255, 255, 0.7);
            text-shadow: 0 0 4rem rgba(0, 0, 0, 0.8); // 4px
            white-space: nowrap;
            // overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 5rem; // 5px
        }

        span {
            font-weight: 300;
            font-size: 18rem; // 18px
        }
    }

    .bottom-content {
        height: 0;
        overflow: hidden;
        transition: height 150ms ease-in-out;
        display: flex;
        align-items: center;
        z-index: 2;
        position: relative;

        .left-content,
        .right-content {
            margin: 0;
        }

        .right-content {
            text-align: right;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .compat-notice {
            svg {
                color: #e14d43;
            }
        }

        .btn {
            opacity: 0.85;

            &:hover {
                opacity: 1;
            }

            &.favorite-btn,
            &.spec-btn,
            &.join-btn {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.favorite-btn,
            &.spec-btn {
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }

            &.join-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border-color: #e14d43;
                //color: #e14d43;
            }
        }
    }

    &.expanded {
        height: 163rem; // 163px

        .bottom-content {
            height: 80rem; // 80px
            border-top: 2rem solid rgba(255, 255, 255, 0.2);
        }
    }

    &.incompatible {
        &:before {
            opacity: 0.7;
            background: #000;
        }

        &:hover:before {
            opacity: 0.85;
        }

        .top-content {
            opacity: 0.3;
        }

        /*&:after {
            content: '';
            height: 0.1851851851851852vh; // 2px
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 0, 0, 0.8);
        }*/

        .btn {
            &.favorite-btn,
            &.spec-btn,
            &.join-btn {
                cursor: default;
                opacity: 0.3;

                &:hover {
                    opacity: 0.3;
                }
            }
        }
    }

    &.favorite {
        &:after {
            content: '';
            height: 2rem; // 2px
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(225, 77, 67, 0.9);
        }
    }

    .server-icons {
        display: inline;
        margin-right: 12rem; // 12px

        &.empty,
        &.only-tags {
            margin-right: 0;
        }
    }

    .server-icon {
        opacity: 0.5;
        &.compact-tags {
            color: #61d2ff;
            position: relative;
            top: 1rem; // 1px
            display: none;
        }

        &.lag {
            color: #e14d43;
            opacity: 1;
        }
    }
}

.list-body.compact .server-entry {
    margin-top: 5rem; // 5px
}

// .list-body.compact .server-entry:not(.expanded) {
//     height: 3.333333333333333vh; // 36px

//     .server-icons.only-tags {
//         margin-right: 1.111111111111111vh; // 12px
//     }

//     .server-icon.compact-tags {
//         display: inline;
//     }

//     .top-content {
//         height: 3.148148148148148vh; // 34px

//         h3.tags {
//             display: none;
//         }
//     }

//     .column.column-4 {
//         h4 {
//             display: none;
//         }
//     }
// }

/* Specific styles for non-expanded entries */
.list-body.compact .server-entry {
    height: 36rem; /* 36px */
}

.list-body.compact .server-entry .server-icons.only-tags {
    margin-right: 12rem; /* 12px */
}

.list-body.compact .server-entry .server-icon.compact-tags {
    display: inline;

    svg {
        color: #61d2ff !important;
    }
}

.list-body.compact .server-entry .top-content {
    height: 34rem; /* 34px */
}

.list-body.compact .server-entry .top-content h3.tags {
    display: none;
}

.list-body.compact .server-entry .column.column-4 h4 {
    display: none;
}

/* Override styles for expanded entries */
.list-body.compact .server-entry.expanded {
    height: 15.09259259259259vh;
}

.list-body.compact .server-entry.expanded .top-content h3.tags {
    display: flex;
}

.list-body.compact .server-entry.expanded .top-content {
    height: 7.40741vh;
}

.list-body.compact .server-entry.expanded .column.column-4 h4 {
    display: flex;
}

.list-body.compact .server-entry.expanded .server-icon.compact-tags {
    display: none;
}

.server-filters {
    position: absolute;
    left: 100%;
    top: 0;
    padding: 20rem; // 20px
    width: 800rem; // 800px
    z-index: 999;
    transform: translate(0%, 0%);
    backdrop-filter: blur(10rem);
    background: rgba(0, 0, 0, 0.8);
    border: 2rem solid rgba(255, 255, 255, 0.4);

    .left-right-flex {
        display: flex;
    }

    .left,
    .right {
        flex: 1 1 50%;
    }

    .left {
        padding-right: 15rem; // 15px
        display: flex;
        flex-direction: column;
    }

    .right {
        padding-left: 15rem; // 15px
    }

    h3 {
        text-transform: uppercase;
        font-size: 20rem; // 20px
        font-weight: 400;
    }

    .field-container {
        margin: 0 !important;
    }

    .filter {
        margin-bottom: 15rem; // 15px
    }
}

.min-max-ctr {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
        width: 40%;
    }

    p {
        margin: 0 0 4rem;
        font-size: 16rem;
        line-height: 16rem;
    }
}

.filter-checkbox {
    display: block;
    position: relative;
    line-height: 20rem; // 20px
    font-weight: 300;
    font-size: 16rem; // 16px
    margin-top: 10rem; // 10px
}

.frequency-filters {
    display: flex;
    justify-content: space-between;
}

.filter-buttons {
    text-align: right;
    display: flex;
    justify-content: flex-end;

    .btn {
        margin-left: 18rem !important;
    }
}

/*
.ps__rail-y {
    z-index: 5;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background-color: transparent;
}
*/
