.soldier-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.soldier-entry {
    display: flex;
    width: 260rem;
    height: 440rem;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 25rem; // 0 25px
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%),
        url('/assets/img/soldier-bg.png') no-repeat center center;
    background-size: 100% 100%;
    user-select: none;
    cursor: pointer;
    border: 2rem solid rgba(255, 255, 255, 0.25);
    transition: border 150ms ease-in-out;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: #000;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        z-index: 2;
    }

    /*
    &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2rem; // 2px
        background: rgb(255, 255, 255);
        content: '';
        opacity: 0.2;
        transition: opacity 150ms ease-in-out;
        z-index: 3;
    }
    */

    .bottom-content {
        position: absolute;
        bottom: 28rem; // 28px;
        left: 26rem; // 26px;
        right: 26rem; // 26px;
        z-index: 3;

        h2 {
            font-size: 16rem; // 16px
            opacity: 0.4;
            text-transform: uppercase;
        }

        h1 {
            margin-top: 10rem; // 10px
            font-size: 22rem; // 22px
            color: #fff;
        }

        a {
            opacity: 0;
            transition: opacity 150ms ease-in-out;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 22rem; // 22px

            svg {
                opacity: 0.3;
            }

            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }
    }

    .actions {
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        z-index: 3;
        font-size: 3.333333333333333vh;

        a {
            text-decoration: none;
            margin: 16rem; // 16px
            opacity: 0.5;
            transition: opacity 150ms ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }

    &:hover {
        border-color: rgb(255, 255, 255, 0.8);

        .actions {
            opacity: 1;
        }

        &:before {
            opacity: 0.5;
        }

        .bottom-content a {
            opacity: 1;
        }
    }

    &.empty {
        background: rgba(0, 0, 0, 0.6);
        transform: translate(0%, 0%);
        backdrop-filter: blur(20rem);

        &:before {
            display: none;
        }

        .actions {
            opacity: 1;
        }
    }
}
