.update-indicator {
    border: 1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 8rem; // 8px;
    overflow: hidden;
    width: 36rem; // 35.88px;
    height: 36rem; // 35.88px;
    transition: all 350ms ease-in-out;
    position: relative;
    backdrop-filter: blur(10rem);
}

.update-indicator-container {
    width: 160rem; // 160px;
    height: 36rem; // 35.88px;
    position: absolute;
    padding-left: 4rem; // 4px;
    padding-right: 6rem; // 4px;
    padding-top: 4rem; // 4px;
    padding-bottom: 4rem; // 4px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
        width: 22rem;
        height: 22rem;
        margin-bottom: 3rem;
        fill: rgba(255, 255, 255, 0.8);
    }
}

.update-indicator .loading-indicator {
    width: 22rem;
    height: 22rem;
}

.update-indicator span {
    margin-left: 4rem; // 4px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14rem; // 14px;
}

.update-indicator:hover {
    width: 162rem; // 162px;
    border-color: rgba(255, 255, 255, 0.4);
}

.progress-indicator {
    width: 22rem;
    height: 22rem;

    svg {
        width: 100%;
        height: 100%;
    }
}

.update-indicator.updated {
    border-color: rgba(176, 255, 136, 0.82);
    background: rgba(176, 255, 136, 0.1);

    /*
    &:hover {
        border-color: rgba(3, 175, 1, 0.6);
    }
    */

    svg {
        fill: rgb(180, 230, 184);
    }

    span {
        color: rgb(180, 230, 184);
    }
}

.update-indicator.error {
    border-color: rgb(255, 95, 95);
    background: rgba(255, 95, 95, 0.1);

    /*
    &:hover {
        border-color: rgba(255, 95, 95, 0.6);
    }
    */
    svg {
        fill: #fd8d8d;
    }

    span {
        color: #fd8d8d;
    }
}
